<form action="/categories/<%=params[:id]%>/posts/new/success" method = "post">
  Title: <input type="text" name="title">
  Description: <input type="text" name="description">
  Price: <input type="text" name="price">
  Email: <input type="text" name="email">
  <input type="submit" value="ENTER">
</form>